<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aesthetic</title>
</head>
<body bgcolor="#c2d7fc">
<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>


<h1><p style="text-align:center; color:black; font-size:15px;">welcome to your new blog</p></h1>
<h2><p style="text-align:center; color:black; font-size:15px;">at any time you can <a href='/reset/'>reset</a> your blog creation process</p></h2><br>
<br>

{% if blog["caption"] != None%}
    <p style="text-align:center; color:black; font-size:15px;"><i>{{ blog["caption"] }}</i></p>
{% else %}
    <form style="text-align: center" action="/aesthetic_pic_3/">
    <input type="text" name="caption"><br>
    <input type="submit" value="caption the picture!"><br>
    </form>
    <br>
{% endif %}

<img src="/static/aesthetic_pic_3.jpeg" style="width:500px; height:700px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="aesthetic pic 3">
<br>

<form style="text-align: center" action="/picture_bank/">
<input type="submit" value="delete this post">
</form>

</body>
</html>