<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aesthetic picture bank</title>
</head>
<body bgcolor="#c2d7fc">

<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>
<h2><p style="text-align:center;color:black;">choose a picture for your new blog</p></h2>
<p style="text-align:center;color:black;">aesthetic picture bank</p>


<a href="/aesthetic_pic_1/">
  <img src="/static/aesthetic_pic_1.jpeg" style="width:500px; height:700px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="aesthetic pic 1">
</a><br>

<a href="/aesthetic_pic_2/">
  <img src="/static/aesthetic_pic_2.jpeg" style="width:500px; height:750px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="aesthetic pic 2">
</a><br>

<a href="/aesthetic_pic_3/">
  <img src="/static/aesthetic_pic_3.jpeg" style="width:500px; height:750px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="aesthetic pic 3">
</a>

</body>
</html>