<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>initial</title>
</head>
<body bgcolor="#c2d7fc">

<h1><p style="text-align:center;color:black;">welcome to your new blog</p></h1>
<h2><p style="text-align:center;color:black;">at any time you can <a href='/reset/'>reset</a> your blog creation process</p></h2><br>
<h2><p style="text-align:center;color:black;">what will the title of your {{ blog["blog_type"] }} blog be?</p></h2>

<form style="text-align: center" action="/set_title/">
    <input type="text" name="title"><br>
    <input type="submit" value="name the blog!"><br>
</form>

</body>
</html>