<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food picture bank</title>
</head>
<body bgcolor="#f0eaa3">

<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>
<h2><p style="text-align:center;color:black;">choose a picture for your new blog</p></h2>
<p style="text-align:center;color:black;">food picture bank</p>


<a href="/food_pic_1/">
  <img src="/static/food_pic_1.jpeg" style="width:1000px; height:667px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="food pic 1">
</a><br>

<a href="/food_pic_2/">
  <img src="/static/food_pic_2.jpeg" style="width:1000px; height:667px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="food pic 2">
</a><br>

<a href="/food_pic_3/">
  <img src="/static/food_pic_3.jpeg" style="width:1000px; height:667px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="food pic 3">
</a>

</body>
</html>