<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
</head>
<body bgcolor="#f0eaa3">
<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>

<p style="text-align:center; color:black; font-size:15px">welcome to your new blog</p>
<p style="text-align:center; color:black; font-size:15px">at any time you can <a href='/reset/'>reset</a> your blog creation process</p><br>

<br>
<p style="text-align:center;color:black; font-size:15px;"><i><a href="https://www.bonappetit.com/recipe/diner-burger">diner burger and fries</a></i></p>
<img src="/static/food_pic_2.jpeg" style="width:1000px; height:667px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="food pic 2">

</body>
</html>