<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>make a blog</title>
</head>
<body bgcolor="#fcdef7">
<h1><p style="text-align:center;">what kind of blog will you run?</p></h1><br>

<form style="text-align: center" action="initial" method="get">
      <input type = "text" list = "blog" name="blog_type">
      <datalist id = "blog">
        <option value = "aesthetic">
        <option value = "food">
        <option value = "travel">

      </datalist>
      <input type = "submit" value = "confirm">
    </form>

<br>


</body>
</html>