<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>picture bank</title>
</head>
<body bgcolor="#c2d7fc">

<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>
<h2><p style="text-align:center;color:black;">choose a picture for your new blog</p></h2>
<p style="text-align:center;color:black;">picture bank</p>


{% if blog["blog_type"] == "aesthetic" %}

<a href="/set_picture?image=1" ><img src="/static/aesthetic_pic_1.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=2" ><img src="/static/aesthetic_pic_2.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=3" ><img src="/static/aesthetic_pic_3.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>


{% elif blog["blog_type"] == "food" %}
<a href="/set_picture?image=1" ><img src="/static/food_pic_1.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=2" ><img src="/static/food_pic_2.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=3" ><img src="/static/food_pic_3.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>



{% else %}
<a href="/set_picture?image=1" ><img src="/static/travel_pic_1.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=2" ><img src="/static/travel_pic_2.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>
<a href="/set_picture?image=3" ><img src="/static/travel_pic_3.jpeg" style="border:0; display: block; margin-left: auto; margin-right: auto;"></a><br>

{% endif %}

</body>
</html>