<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>travel</title>
</head>
<body bgcolor="#a3f0ba">
<h1><p style="text-align:center; color:dimgray;">{{ blog["title"] }}</p></h1>

<p style="text-align:center; color:black; font-size:15px">welcome to your new blog</p>
<p style="text-align:center; color:black; font-size:15px">at any time you can <a href='/reset/'>reset</a> your blog creation process</p><br>

<br>
<p style="text-align:center; color:black; font-size:15px;"><i>Bangkok, Thailand</i></p>
<img src="/static/travel_pic_2.jpeg" style="width:1000px; height:667px; border:0; display: block; margin-left: auto; margin-right: auto;" alt="travel pic 2">

</body>
</html>